:root {

    --color-alura: #051932;
    --pomb-and-power:  #7C5E99;
    --fiery-rose: #F25A70;
    --sandstorm: #F5D547;
    --mantis: #62C370;
    --eggshell: #EAE6DA;
    --old-silver: #828282;
    --floral-white: #FFFCEE;
    --arsenic: #3A4042;

    
}